@import "tailwindcss";
@tailwind utilities;

.item-lists {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.mb-important {
    margin-bottom: 24px !important;
}

.mb-0-important {
    margin-bottom: 0px !important;
}

.m-divider {
  margin: 0px !important
}